    <footer class="container-fluid">
        
    </footer>
    
    </div>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="js/controllers/angularApp.js"></script>
</body>
</html>