<!DOCTYPE html>
<html ng-app="listaContatos">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Contatos</title>

    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Offside" rel="stylesheet">

</head>
<body ng-controller="mainController">
    <div class="row-fluid">