<% include template/header %>
<% include template/nav %>

<div class="jumbotron text-center" class="container">
    <h1>Lista de Contatos <span class="label label-info" ng-bind="contatos.length"></h1>
</div>

<div id="lista-contatos" class="container">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Opções</th>
        </tr>
        <tr ng-repeat="contato in contatos">
            <td><span ng-bind="contato.nome"></span></td>
            <td><span ng-bind="contato.email"></span></td>
            <td><span ng-bind="contato.telefone"></span></td>
            <td>
                <button type="button" class="btn btn-defult" ng-click="editarContato(contato._id)">Editar</button>
                <button type="button" class="btn btn-primary" ng-click="deletarContato(contato._id)">Remover</button>
            </td>
        </tr>
    </table>
</div>

<div id="contato-form" class="container">
    <hr>
    <form>
        <div class="form-group col-md-3">
            <label for="nomeContato">Nome</label>
            <input type="text" class="form-control" id="nomeContato" placeholder="Nome Sobrenome" ng-model="formContato.nome">
        </div>
        <div class="form-group col-md-3">
            <label for="emailContato">E-mail</label>
            <input type="text" class="form-control" id="emailContato" placeholder="exemplo@exemplo.com" ng-model="formContato.email">
        </div>
        <div class="form-group col-md-3">
            <label for="telefoneContato">Telefone</label>
            <input type="text" class="form-control" id="telefoneContato" placeholder="(00)00000-0000" ng-model="formContato.telefone">
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary" ng-click="criarContato()">Criar</button>
            <button type="submit" class="btn btn-info" ng-click="atualizarContato()">Atualizar</button>
        </div>
    </form>
</div>

<% include template/footer %>