<% include template/header %>
<% include template/nav %>
<% include template/aside %>

<div class="col-md-8 col-md-offset-1 content">

    <div class="row jumbotron ladoS">
        <h2 class="text-center">SOBRE MIM</h2>
        <p class="text-justify">Atualmente venho cursando o tecnólogo de Análise e Desenvolvimento de Sistemas na Universidade Estácio de Sá, cursei Ciência
        da Computação na Faculdade Pitágoras até o segundo período, porém cancelei para voltar ao tecnólogo que se encontrava trancado.
        Atualmente trabalho na empresa M.Bottaro trabalhando com o desenvolvimento de sites em Wordpress, criando sites, hotsites, portais,
        blogs, e até sistemas. </p>
        <p class="text-justify">Em meus estudos na linguagem PHP criei o projeto <a href="http://brodrive.com.br" target="_blank">BroDrive</a>
         utilizando o framework CodeIgniter, em meu curso técnico de Informática criei o projeto <a href="https://github.com/pedr0369/ProjetoPizzariaEureka" target="_blank">Pizzaria Eureka</a>
          que foi um projeto utilizando Java Web(JSP, JSTL e Servlet). Atualmente venho me aventurando a estudar MEAN Stack (MongoDB,
          Express, AngularJS, NodeJS) e suas tecnologias. 
        </p>
    </div>
    <img src="../../public/img/icons" class="col-sm-2">

    <div class="row jumbotron ladoN">
        <h2 class="text-center">SKILLS</h2>

        <div class="row" style="margin-top:10px;">
            <div class"col-sm-10 col-sm-offset-1">
                <img src="img/icons/html.svg" class="col-sm-2">
                <img src="img/icons/css.svg" class="col-sm-2">
                <img src="img/icons/bootstrap.svg" class="col-sm-2">
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class"col-sm-10 col-sm-offset-1 pull-left">
                <img src="img/icons/javascript.svg" class="col-sm-2">
                <img src="img/icons/jquery.svg" class="col-sm-2">
                <img src="img/icons/angular.svg" class="col-sm-2">
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class"col-sm-10 col-sm-offset-1 pull-left">
                <img src="img/icons/java.svg" class="col-sm-2">
            </div>
        </div>

    </div>

</div>

<% include template/footer %>